<div class="chores">
  <h3>Chores</h3>
  <ul>
      <li *ngFor = 'let chore of chores'>{{chore}}</li>
  </ul>
  <p *ngIf = "chores.length > finishedChores.length">Work Harder!</p>
</div>
<hr>

<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <p *ngIf = "chores.length === 0 || finishedChores.length >= 3">No allowance yet</p>
    <h2 *ngIf = "chores.length === 0 && finishedChores.length >= 4; else getYourTreat">Ice cream treat!</h2>
</div>
<ng-template #getYourTreat>
  <div class="getYourTreat">
      <h3>To earn an Ice cream treat</h3>
      <p>The chores list must be empty</p>
      <p>The Done list must have at least 4 items</p>
  </div>
</ng-template>
<hr>

<hr>